<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cascade Reports</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>


<script id="tab-headers-template" type="text/html">
    <ul class="nav nav-pills" role="tablist">
        <% _.each(tabs, function(tab) {%>
        <li role="presentation" class="<%if (tab.active){%>active<%}%>">
            <a href="#<%=tab.id%>" aria-controls="home" role="tab" data-toggle="tab"><%=tab.title%></a>
        </li>
        <%});%>
    </ul>
</script>

<script id="tab-panels-template" type="text/html">
    <div class="tab-content">
        <% _.each(tabs, function(tab) {%>
        <div role="tabpanel" class="tab-pane <%if (tab.active){%>active<%}%>" id="<%=tab.id%>">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><%=tab.title%></h4>
                </div>

                <div id="tab-body" class="panel-body">

                </div>
            </div>
        </div>
        <%});%>
    </div>
</script>

<script id="journeys-template" type="text/html">
    <table class="table table-striped journey-list">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(journeys, function(journey) {%>
        <tr style="cursor: pointer;" data-journey-id="<%=journey.journeyId%>">
            <th><%=journey.journeyId%></th>
            <td><%=journey.name%></td>
            <td><%=journey.result%></td>
        </tr>
        <%});%>
        </tbody>
    </table>

</script>

<script id="coverage-template" type="text/html">
    <h3>States</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <% _.forOwn(stateData, function(count, name) {%>
        <tr>
            <td><%=name%></td>
            <td><%=count%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
    <h3>Scenarios</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <% _.forOwn(scenarioData, function(count, name) {%>
        <tr>
            <td><%=name%></td>
            <td><%=count%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
</script>

<div class="container">

    <h1>Cascade Reports
        <small> - <span id="index-percentage-label"></span>% Successful</small>
    </h1>

    <h3>Test Summary</h3>

    <div class="row well">
        <div class="col-md-3 bg-success">
            <div class="row text-center"><span id="index-success-label"></span></div>
            <div class="row text-center"> Successes</div>
        </div>
        <div class="col-md-3 bg-danger">
            <div class="row text-center"><span id="index-failure-label"></span></div>
            <div class="row text-center"> Failures</div>
        </div>
        <div class="col-md-3 bg-warning">
            <div class="row text-center"><span id="index-error-label"></span></div>
            <div class="row text-center"> Errors</div>
        </div>
        <div class="col-md-3 bg-info">
            <div class="row text-center"><span id="index-minutes-label"></span> min <span
                    id="index-seconds-label"></span>s
            </div>
            <div class="row text-center"> Duration</div>
        </div>
    </div>


    <div id="tab-headers"></div>
    <div id="tab-panels"></div>
</div>


<script src="jquery.min.js"></script>
<script src="lodash.js"></script>
<script src="bootstrap.min.js"></script>

<script src="data/directoryData.js"></script>
<script src="index.js"></script>
</body>
</html>