<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cascade Reports</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>


<script id="tab-headers-template" type="text/html">
    <ul class="nav nav-pills">
        <% _.each(tabs, function(tab) {  %>
        <li class="<%if (tab.active){%>active<%}%>">
            <a href="#" data-tab-id="<%=tab.id%>"><%=tab.title%></a>
        </li>&nbsp;
        <%});%>
    </ul>
</script>

<script id="tab-panels-template" type="text/html">
    <div class="tab-content">
        <% _.each(tabs, function(tab) { %>
        <div class="tab-pane <%if (tab.active){%>active<%}%>" id="<%=tab.id%>">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><%=tab.title%></h4>
                </div>

                <div id="tab-body" class="panel-body">

                </div>
            </div>
        </div>
        <%});%>
    </div>
</script>

<script id="journeys-template" type="text/html">

    <div class="col-md-4 col-sm-offset-8">
        <div class="input-group pull-right">
            <span class="input-group-addon">Simple&nbsp;
                <%if (config.mode === "simple"){%>
                <input type="radio" name="mode_<%=id%>" value="simple" checked onchange="reRenderLists(event)">
                <%} else {%>
                <input type="radio" name="mode_<%=id%>" value="simple" onchange="reRenderLists(event)">
                <%}%>
            </span>
            <span class="input-group-addon">Descriptive &nbsp;
                <%if (config.mode === 'descriptive'){%>
                <input type="radio" name="mode_<%=id%>" value="descriptive" checked onchange="reRenderLists(event)">
                <%} else {%>
                <input type="radio" name="mode_<%=id%>" value="descriptive" onchange="reRenderLists(event)">
                <%}%>
            </span>
            <input type="number" name="orderThreshold" class="form-control" style="width: 70px; " value="<%=config.orderThreshold%>" maxlength="1" min="1" max="9" onchange="reRenderLists(event)">
        </div>
    </div>
    <table class="table table-striped journey-list">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(journeys, function(journey) {%>
        <tr style="cursor: pointer;" data-journey-id="<%=journey.journeyId%>">
            <th><%=journey.journeyId%></th>
            <td>
                <% if (config.mode == 'descriptive') {%>
                <span style="font-size: 19px;"><%=journey.id%></span>
                <%
                    var latch = false;
                    _.each(journey.scenarios, function(scenario) {
                        var order = scenarioOrder[scenario.name];

                        if (order <= config.orderThreshold){
                            latch = false;
                %>
                <span style="font-size: <%= Math.max(22 - (order*3), 10)%>px;">
                <%=scenario.narrative%>
                </span>
                <%
                        } else {
                            if (!latch){
                %>
                <span style="font-size: 19px;">...</span>
                <%
                            }
                            latch = true;
                        }
                    });
                %>
                <%} else {%>
                <%=journey.name%>
                <%}%>
            </td>
            <td><%=journey.result%></td>
        </tr>
        <%});%>
        </tbody>
    </table>

</script>

<script id="coverage-template" type="text/html">
    <h3>States</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <% _.forOwn(stateData, function(count, name) {%>
        <tr>
            <td><%=name%></td>
            <td><%=count%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
    <h3>Scenarios</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <% _.forOwn(scenarioData, function(count, name) {%>
        <tr>
            <td><%=name%></td>
            <td><%=count%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
</script>

<script id="breadcrumb-template" type="text/html">
    <ol class="breadcrumb">
        <% _.each(links, function(link, idx) { %>
        <li class="breadcrumb-item"><a href="#" onclick="breadcrumb.goto(<%=idx%>)"><%=link.name%></a></li>
        <%}); %>
    </ol>
</script>

<div class="container">

    <h1>Cascade Reports
        <small> - <span id="index-percentage-label"></span>% Successful - Completeness: <span id="completeness-label"></span> </small>
    </h1>
    <div id="breadcrumb"></div>

    <h3>Test Summary</h3>

    <div class="row well">
        <div class="col-md-3 bg-success">
            <div class="row text-center"><span id="index-success-label"></span></div>
            <div class="row text-center"> Successes</div>
        </div>
        <div class="col-md-3 bg-danger">
            <div class="row text-center"><span id="index-failure-label"></span></div>
            <div class="row text-center"> Failures</div>
        </div>
        <div class="col-md-3 bg-warning">
            <div class="row text-center"><span id="index-error-label"></span></div>
            <div class="row text-center"> Errors</div>
        </div>
        <div class="col-md-3 bg-info">
            <div class="row text-center"><span id="index-minutes-label"></span> min <span
                    id="index-seconds-label"></span>s
            </div>
            <div class="row text-center"> Duration</div>
        </div>
    </div>


    <div id="tab-headers"></div>
    <div id="tab-panels"></div>
</div>


<script src="jquery.min.js"></script>
<script src="lodash.js"></script>
<script src="bootstrap.min.js"></script>

<script src="data/directoryData.js"></script>
<script src="lib/utils.js"></script>
<script src="lib/breadcrumb.js"></script>

<script src="index.js"></script>
</body>
</html>