@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.panel {
    margin: 15px;
}

.svg-panel {
    overflow-x: scroll;
}

.borderless > tbody > tr > th, .borderless > tbody > tr > td {
    border-top: unset;
}

.font-weight-bold {
    font-weight: bold;
}

li p {
    margin-bottom: 0px;
}

li {
    margin-bottom: 10px;
}

.scenario-heading {
    padding: 5px;
}

.state-heading {
    padding: 10px;
}

.no-break {
    word-break: keep-all;
    white-space: nowrap;
}
