*.class
build
out
*.ipr
*.iws
*.iml
.gradle
.idea
.idea/**
.DS_Store
cascade/src/main/resources/template/data/
first-example-application/selenium-drivers/*
second-example-application/selenium-drivers/*

first-example-application/reportsOutput
second-example-application/reportsOutput

# Package Files #
*.jar
*.war
*.ear
