
    <h1>Thank you</h1>

    <div class="well">
        <h1>It's been a pleasure!</h1>
    </div>

    <p>Your flight is due in about 3 minutes.  Please join the checkout, at gate 802.  Don't be late.  There are penalties!!!</p>