<div class="container">
    <div class="row">
        <div class="col-md-2">
            #parse('sidenav.vm')
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <h2>Modify Mobile</h2>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-9">
                    Your current mobile is <strong test-current-mobile-text>$mobile</strong>
                </div>
            </div>
            <div class="well">
                <form action="/save_mobile" method="POST" class="form-horizontal" >
                    <div class="row" >
                        <div class="col-md-2">Mobile</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input test-input-mobile name="mobile" type="text" class="form-control text-left"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-9">
                            <button test-save-cta type="submit" class="btn btn-primary pull-right ">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
