<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            #parse('sidenav.vm')
            <div class="container-fluid">
                <h2>Modify Email</h2>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-9">
                    Your current email is <strong test-current-email-text>$email</strong>
                </div>
            </div>
            <div class="well">
                <form action="/save_email" method="POST" class="form-horizontal" >
                    <div class="row" >
                        <div class="col-md-2">Email</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input test-input-email name="email" type="text" class="form-control text-left"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-9">
                            <button test-save-cta type="submit" class="btn btn-primary pull-right ">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
