
<div class="container">


    <div class="row">
        <div class="col-md-2">
            #parse('sidenav.vm')
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <h2>Payments</h2>
            </div>

            #if ($error)
            <div class="alert alert-danger" role="alert">
              $error
            </div>
            #end



            <div class="container-fluid">
                <h3>Regular Payments/ Standing Orders</h3>
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Description</th>
                        <th>Reference</th>
                        <th>Account Number</th>
                        <th>Sort Code</th>
                        <th>Last Date</th>
                        <th>Period</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    #set($rowNumber = 0)
                    #foreach($standingOrder in $standingOrders)

                    <tr test-standing-order-row-$rowNumber>
                        <td test-field-description>$standingOrder.description</td>
                        <td test-field-reference>$standingOrder.reference</td>
                        <td test-field-account-number>$standingOrder.accountNumber</td>
                        <td test-field-sort-code>$standingOrder.sortCode</td>
                        <td test-field-last-date>$date.format($standingOrder.dueDate)</td>
                        <td test-field-period>$standingOrder.period</td>
                        <td test-field-amount class="text-right">$money.format($standingOrder.amount)</td>
                        <td><a href="/payments/removeStandingOrder/$standingOrder.id" test-cancel-cta class="btn btn-primary btn-sm">Cancel</a></td>
                    </tr>
                    #set($rowNumber = $rowNumber + 1)
                    #end
                </table>
            </div>

            <div class="container-fluid">
                <h3>Recent Payments</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Reference</th>
                        <th>Account Number</th>
                        <th>Sort Code</th>
                        <th>Cleared</th>
                        <th>Amount</th>
                    </tr>
                    #set($rowNumber = 0)
                    #foreach($recentPayment in $recentPayments)
                    <tr test-recent-payment-row-$rowNumber>
                        <td test-field-date>$date.format($recentPayment.date)</td>
                        <td test-field-description>$recentPayment.description</td>
                        <td test-field-reference>$recentPayment.reference</td>
                        <td test-field-account-number>$recentPayment.accountNumber</td>
                        <td test-field-sort-code>$recentPayment.sortCode</td>
                        <td test-field-cleared>$date.format($recentPayment.cleared)</td>
                        <td test-field-amount class="text-right">$money.format($recentPayment.amount)</td>
                    </tr>
                    #set($rowNumber = $rowNumber + 1)
                    #end
                </table>
            </div>
            <div class="container-fluid">
                <div class="row">
                    #if ($savingAccountPresent)
                    <div class="col-md-6">
                        <div class="well">
                            <h3>Transfer To/From Savings</h3>
                            <form action="/payments/transfer" method="POST" >
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                         Deposit
                                    </div>
                                    <div class="col-md-8">
                                        Withdrawal
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-4">
                                       <input type="radio" name="type" value="deposit" checked>
                                   </div>
                                   <div class="col-md-8">
                                       <input type="radio" name="type" value="withdrawal"></input>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Amount
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" >
                                        <input name="amount" type="text" class="form-control money text-right"  maxlength="14"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Transfer</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    #end
                    <div class="col-md-6">
                        <div class="well">
                            <h3>Setup/Make a payment</h3>
                            <form action="/payments/pay" method="POST" role="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        Description
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="description" class="form-control" size="45" type="text" ></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Reference
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input name="reference" class="form-control" type="text" size="45"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Account Number
                                    </div>
                                    <div class="col-md-6">
                                        Sort Code
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input name="accountNumber" class="form-control number"  type="text" maxlength="8"></input>
                                    </div>
                                    <div class="col-md-6">

                                        <input name="sortCodeOne" type="text" style="display: inline-block;vertical-align: middle;width: auto;" class="form-control text-left number" size="2"  maxlength="2"></input>
                                        <input name="sortCodeTwo" type="text" style="display: inline-block;vertical-align: middle;width: auto;" class="form-control text-left number" size="2" maxlength="2"></input>
                                        <input name="sortCodeThree" type="text" style="display: inline-block;vertical-align: middle;width: auto;" class="form-control text-left number" size="2" maxlength="2"></input>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                         Immediately
                                    </div>
                                    <div class="col-md-8">
                                        At a Specfic Date
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-4">
                                       <input type="radio" name="type"  value="now" checked>
                                   </div>
                                   <div class="col-md-8">
                                       <input type="radio" style="display: inline-block;vertical-align: middle;width: auto;" name="type"  value="specified"></input>&nbsp;
                                       <input name="date" type="date" style="display: inline-block;vertical-align: middle;width: auto;" class="form-control datepicker" size="10" maxlength="10"></input>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="form-group">
                                    Period
                                    <div class="row">
                                        <div class="col-sm-12" >
                                            <select name="period" class="form-control">
                                                <option>Once</option>
                                                <option>Monthly</option>
                                                <option>Quarterly</option>
                                                <option>Yearly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Amount
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" >
                                        <input name="amount" type="text" class="form-control money text-right"  maxlength="14"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Setup/Pay</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
