
<div class="container">


    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            #parse('sidenav.vm')
            <h2>Please keep us informed</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
            <table class="table table-striped">
                <tr><td>Name</td><td test-field-name>${personalDetails.name}</td></tr>
                <tr><td>Nationality</td><td test-field-nationality>${personalDetails.nationality}</td><td></td></tr>
                <tr><td>Domicile</td><td test-field-domicile>${personalDetails.domicile}</td><td></td></tr>
                <tr><td>Address</td><td test-field-address>${personalDetails.address}</td><td><a href="/edit_address" test-edit-address-cta class="btn btn-primary btn-sm">Modify</a></td></tr>
                <tr><td>Mobile Number</td><td test-field-mobile>${personalDetails.mobile}</td><td><a href="/edit_mobile" test-edit-mobile-cta class="btn btn-primary btn-sm">Modify</a></td></tr>
                <tr><td>Email Address</td><td test-field-email>${personalDetails.email}</td><td><a href="/edit_email" test-edit-email-cta class="btn btn-primary btn-sm">Modify</a></td></tr>
            </table>
        </div>
    </div>
</div>